name: Generate Snake

on:
  # প্রতিদিন রাত ১২টায় অটোমেটিক রান হবে
  schedule:
    - cron: "0 0 * * *" 
  
  # আপনি চাইলে ম্যানুয়ালিও রান করতে পারবেন
  workflow_dispatch:
  
  # মেইন ব্রাঞ্চে কোনো পুশ হলে রান হবে
  push:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - uses: actions/checkout@v3

      - uses: Platane/snk@v3
        id: snake-gif
        with:
          github_user_name: abu-musa-dev
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark

      - uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
